<div class="col-md-12">

  <div class="table-responsive-md">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
        </tr>

      </thead>
      <tbody>
        <tr scope="row">
          <td>1</td>
          <td>Rohit</td>
          <td>Vashi</td>
        </tr>
        <tr scope="row">
          <td>1</td>
          <td>Vishal</td>
          <td>Vashi</td>
        </tr>
        <tr scope="row">
          <td>1</td>
          <td>Goku</td>
          <td>Vashi</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
