<form #frmPersonal="ngForm" (submit)="OnSubmit(frmPersonal)" novalidate>
  <div class="form-group">
    <label class="" for="exampleInputEmail1">Email address</label>
    <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      [(ngModel)]="ofrmPersonal.peremail" required #email="ngModel" minlength="2"
      [class.is-invalid]="((email.touched||email.dirty) &&email.invalid)">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <div *ngIf="email.errors" class="invalid-feedback">
      <div *ngIf="email.errors.required" class="">
        Email Required
      </div>
      <div *ngIf="!email.errors.required&&email.invalid">
        Invalid Email
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" name="pername" class="form-control" id="exampleInputPassword1" [(ngModel)]="ofrmPersonal.pername"
      #pername="ngModel" [ngClass]="{ 'is-invalid': (pername.invalid&&(pername.touched||pername.dirty))}" required>
    <div *ngIf="pername.errors" class="invalid-feedback">
      <div *ngIf="pername.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name="condition" id="exampleCheck1" checked>
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!frmPersonal.valid">Submit</button>
</form>
