<div>

  <div class="d-flex  flex-md-row bg-white border-bottom-2 px-md-2 py-md-2 align-items-center navclass shadow-sm">

    <h5 class="mx-md-1" href="#" routerLink="home" class="pointerClass">Angular Forms</h5>
    <!--
    <div class="extra-space"></div> -->
    <nav class="my-md-1">
      <a class="px-md-1 text-dark active" href="#" routerLink="Personal" routerLinkActive="active">Personal</a>
      <a class="px-md-1 text-dark" href="#" routerLink="official" routerLinkActive="active">Official</a>
      <a class="px-md-1 text-dark" href="#" routerLink="EmpList" routerLinkActive="active">Employee List</a>
    </nav>
  </div>
</div>
<div class="container pt-md-4">
  <router-outlet></router-outlet>
</div>
